@font-face {
	font-family: lovelyhome;
	src: url(LovelyHome-9aBZ.ttf);
}

@font-face {
	font-family: lucysaid;
	src: url(LucySaidOkPersonalUseItalic-OV9ee.ttf);
}

@font-face {
	font-family: hydena;
	src: url(Haydena-6Yz7Y.otf);
}

